.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--solid-black);
  color: var(--white);
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
